.amountofworkdone{
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.amountofworkdone__container{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.amountofworkdone-title{
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.amountofworkdone-title span {
    width: 45px;
    height: 2px;
    background-color: #333333;
    display: block;
}

.amountofworkdone__paragraph{
    color: #333333;
    text-align: center;
    width: 220px;
}

.amountofworkdone__container-quantityworks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.amountofworkdone__quantityworks{
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.amountofworkdone__quantityworks-animation{
    font-size: 30px;
    color: #ef7e3a;
    font-weight: bold;
    text-align: center;
}

.amountofworkdone__quantityworks-text{
    text-align: center;
    color: #6c6c6c;
    font-weight: bold;
}

@media screen and (min-width: 375px){
    .amountofworkdone__container{
        width: 320px;
    }

    .amountofworkdone-title{
        width: auto;
    }

    .amountofworkdone__paragraph{
        width: 240px;
    }

    .amountofworkdone__quantityworks{
        width: 150px;
    }
}

@media screen and (min-width: 425px){
    .amountofworkdone__container{
        width: 380px;
    }

    .amountofworkdone__paragraph{
        width: 300px;
    }

    .amountofworkdone__quantityworks{
        width: 180px;
    }
}

@media screen and (min-width: 768px){
    .amountofworkdone__container{
        width: 740px;
    }

    .amountofworkdone-title{
        font-size: 40px;
    }

    .amountofworkdone__paragraph{
        width: 600px;
    }

    .amountofworkdone__quantityworks{
        width: 160px;
    }

    .amountofworkdone__quantityworks-animation{
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px){
    .amountofworkdone__container{
        width: 920px;
    }

    .amountofworkdone-title{
        font-size: 40px;
    }

    .amountofworkdone__paragraph{
        width: auto;
    }

    .amountofworkdone__container-quantityworks{
        gap: 30px;
    }

    .amountofworkdone__quantityworks{
        width: 200px;
        margin-bottom: 0px;
    }

    .amountofworkdone__quantityworks-animation{
        font-size: 50px;
    }
}

@media screen and (min-width: 1440px){
    .amountofworkdone__container{
        width: 1200px;
    }


    .amountofworkdone__container-quantityworks{
        gap: 50px;
    }
}