.misionvision{
    /* background-color: #ef7e3a; */
    background-color: #1c98d4;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.misionvision__container{
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.misionvision__our-text, .misionvision__our-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.misionvision__button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.4);
    color: #eeeeee;
    font-weight: bold;
    width: auto;
    height: 50px;
    padding: 0px 20px;
    border-radius: 30px;
    border: 1px solid #eeeeee;
    margin-top: 20px;
}

.misionvision__button span{
    font-size: 10px; /* Ajusta el tamaño de la fuente */
    vertical-align: middle; /* Opcional: ajusta la alineación vertical */
    font-weight: bold;
    border: 2px solid #eeeeee;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
}

.misionvision__button:hover{
    background-color: #eeeeee;
    color: #1c98d4;
    transition: all .3s;
}
.misionvision__button:hover span{
    border: 2px solid #1c98d4;
    color: #1c98d4;
    transform: translateX(8px);
    transition: all .3s;
}

.misionvision__our-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.misionvision__title{
    font-size: 30px;
    font-weight: bold;
    color: #eeeeee;
    text-align: center;
}

.misionvision__text{
    text-align: center;
    color: #eeeeee;
}

.misionvision__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.misionvision__block{
    width: 130px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.misionvision__icon{
    border: 2px solid #eeeeee;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.misionvision__icon svg{
    width: 15px;
    fill: #eeeeee;
}

.misionvision__block-title{
    text-align: center;
    font-size: 20px;
    color: #eeeeee;
}

.misionvision__block-text{
    text-align: center;
    color: #eeeeee;
}

@media screen and (min-width: 375px){
    .misionvision__container{
        width: 340px;
    }

    .misionvision__block{
        width: 150px;
    }
}

@media screen and (min-width: 425px){
    .misionvision__container{
        width: 370px;
    }

    .misionvision__block{
        width: 170px;
    }
}

@media screen and (min-width: 768px){
    .misionvision__container{
        width: 700px;
        /* flex-direction: row; */
        justify-content: center;
    }
}

@media screen and (min-width: 1024px){
    .misionvision__container{
        width: 920px;
    }

    .misionvision__our-text, .misionvision__our-button{
        width: 920px;
    }

    .misionvision__our-text{
        flex-direction: row;
        gap: 20px;
    }

    .misionvision__title{
        font-size: 40px;
    }

    .misionvision__block{
        width: 230px;
    }
}

@media screen and (min-width: 1440px){
    .misionvision__container{
        width: 1200px;
    }

    .misionvision__our-text{
        flex-direction: row;
        gap: 40px;
    }

    .misionvision__block{
        width: 250px;
    }
}