*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* IMPORTACIONES */
/* LAYOUT */
@import url(components/infocontacttop.css);
@import url(components/headercomponent.css);
@import url(components/sidebar.css);
@import url(components/calltoactionfooter.css);
@import url(components/footercomponent.css);
@import url(components/copywrite.css);
@import url(components/bannercomponent.css);
@import url(components/amountofworkdone.css);
@import url(components/sectionservices.css);
@import url(components/righticon.css);

/* HOME */
@import url(components/sectioninfoservices.css);

/* ROOFING */
@import url(components/infoservices.css);